<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Business Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/businesspage_stylesheet.css">  
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
        <aside class="sidebar">
            <ul>
                <li class="menu-option">
                    <a class="nav-link" href="/businessprofile">Business Profile</a>
                </li>
                <li class="menu-option">
                    <a class="nav-link" href="/modifyservices">Modify Services</a>
                </li>
                <li class="menu-option">
                    <a class="nav-link" href="/history">History</a>
                </li>
                <li class="menu-option">
                    <a class="nav-link" href="/receipts">Bills & Receipts</a>
                </li>
            </ul>
        </aside>
        <main class="main-content">
            <section id="bill-receipts">
                <h2><u>Bills & Receipts</u></h2>
                <div id="appointed-services">
                    <% activeservices.forEach(service => { %>
                        <div class="appointment-card" id="appointedService<%= service.appointmentID %>">
                            <div class="date"><strong>Date:</strong> <%= service.date %> - <%= service.time %></div>
                        <div class="service-info">
                            <span class="service" style="color: blue;"><%= service.service %></span>
                            <div class="address" style="font-size: smaller;">Address: <%= service.address %></div>
                        </div>
                        <div class="price-status">
                            <span class="price"><strong>Price:</strong> $<%= service.price %></span>
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" class="checkbox-input" />
                            <label class="check-label" >Check if the execution of service is done.</label>
                        </div>
                        <div class="sign-and-print">
                            <div class="signature">
                                <label class="sign-label">Signature:</label>
                                <input type="text" />
                            </div>
                            <button type="button" class="print-btn" onclick="printReceipt('appointedService<%= service.appointmentID %>')">Print</button>
                        </div>
                        </div>
                    <% }); %>
                </div>
            </section>
        </main>
        <script>
            /*function displayReceipts() {
                const appointedServicesContainer = document.querySelector('#appointed-services');

                clientData.appointedServices.forEach((appointment, i) => {
                    const appointmentCard = document.createElement('div');
                    appointmentCard.classList.add('appointment-card');
                    appointmentCard.id = `appointedService${i + 1}`;

                    appointmentCard.innerHTML = `
                        <div class="date"><strong>Date:</strong> ${appointment.date} - ${appointment.time}</div>
                        <div class="service-info">
                            <span class="service" style="color: blue;">${appointment.service}</span>
                            <div class="address" style="font-size: smaller;">Address: ${appointment.address}</div>
                        </div>
                        <div class="price-status">
                            <span class="price"><strong>Price:</strong> ${appointment.price}</span>
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" class="checkbox-input" />
                            <label class="check-label" >Check if the execution of service is done.</label>
                        </div>
                        <div class="sign-and-print">
                            <div class="signature">
                                <label class="sign-label">Signature:</label>
                                <input type="text" />
                            </div>
                            <button type="button" class="print-btn" onclick="printReceipt('appointedService${i + 1}')">Print</button>
                        </div>
                    `;
                    appointedServicesContainer.appendChild(appointmentCard);
                });
            }*/

            function printReceipt(containerId) {
                // Get the container content
                var printContent = document.getElementById(containerId).innerHTML;
                // Open a new window
                var printWindow = window.open('', '', 'height=600,width=800');
                printWindow.document.write('<!DOCTYPE html><html><head><title>Printed Receipt</title>');
                printWindow.document.write('</head><body>');
                // Write the container's content to the new window
                printWindow.document.write(printContent);
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.print();

            }

            /*displayHistory();*/
            displayReceipts();
        </script>
    </body>
</html>